.card {
    background-color: white;
    border-radius: 10px;
    height: 120px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}

.card img {
    border-radius: 8px;
    object-fit: cover;
}

.content{
    color: black;
}

.content p {
    margin: 0px;
    font-size: 14px;
    color: #b3b3b3;
}

.content h2 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.year {
    font-weight: bold;
    color: #b3b3b3;
}